option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node app.js"
    NodeVersion: 24

  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /healthz
    Port: 8080
    Protocol: HTTP
